.modal-backdrop.show {
  opacity: 0;
}

.modal-content {
    border-radius: 10px;
    border: none;
}

.modal-header {
  position: relative;
  background-color: #1faae7;
  color: white;
  padding: 10px 15px 8px;
  border-radius: 0;
  border: none;
  .modal-title {
    font-size: 1em;
  }

  button.close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    color: white;
    height: 100%;
    width: 48px;
    padding-bottom: 5px;
    font-size: 2rem;
    text-shadow: none;
    font-weight: normal;
    &:focus, &:hover { opacity: 1; }
    &:focus { outline: 0; }
  }

  @media (min-width: 891px) {
    border-radius: 7px 7px 0 0;

  }
}

.modal-body {
  label {
    font-size: 0.8em;
    margin-bottom: 0.25rem;
  }
  label.sized {
    font-size: 11px;
  }
  select.select-btn {
    appearance: none;
  }
}

.modal-footer {
  padding: 15px;
}
